.grey-cover {
    position: absolute;
    height: 240px;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #555;
}

.profile-image {
    padding: 20px 20px;
}

.featurette-divider {
    margin: 30px 0;
}

.login-modal-header {
    text-align: center;
}

.login-modal-body, .register-modal-body {
    padding: 15px 0;
}

.login-modal-body .form-control, p {
    margin: 15px auto;
}

.register-modal-body .form-control {
    margin: 15px auto;
}

.user-profile-description {
    color: #999;
}

.user-profile-description button {
    padding: 0;
    background-color: #555;
    border-color: #555;
}

.user-profile-description input {
    display: none;
}
