{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Targoviste pictures">
    <meta name="keywords" content="Targoviste,pictures,photos,m11,filth,dogs">
    <meta name="author" content="">


    <title>Targoviste wildlife</title>

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/cyborg/bootstrap.css" rel="stylesheet">
    <link href="https://bootswatch.com/assets/css/bootswatch.min.css" rel="stylesheet">
    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

</head>

{% block navbar_block %}
{% endblock %}


<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'gallery' %}">Explore</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My account <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% if user.is_authenticated %}
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Profile</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'auth_logout' %}">Logout</a></li>
                                {% else %}
                                    <li role="presentation"><a href="" data-toggle="modal" data-target="#loginModal" role="menuitem" tabindex="-1">Login</a></li>
                                    <li role="presentation"><a href="" data-toggle="modal" data-target="#registerModal" role="menuitem" tabindex="-1">Sign up</a></li>
                                {% endif %}

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<!-- LOGIN MODAL -->
<div class="modal fade" id="loginModal" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">

                        <div class="login-modal-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h2 class="modal-title" id="gridSystemModalLabel">Login</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body login-modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="login-form col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <form class="form-signin" role="form" method="post" action="{% url 'auth_login' %}">
                                {% csrf_token %}


                                <label for="id_username" class="sr-only">Username</label>

                                <input type="text" id="id_username" class="form-control" name="username" placeholder="Username" required autofocus>

                                <label for="id_password" class="sr-only">Password</label>
                                <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            </form>

                            <p>Not a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- REGISTER MODAL -->
<div class="modal fade" id="registerModal" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row">

                        <div class="login-modal-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h2 class="modal-title" id="gridSystemModalLabel">Register</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body register-modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form class="form-horizontal" method="post" action="{% url 'registration_register' %}">
                            {% csrf_token %}

                            <div class="form-group" >

                                <label class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-lg-offset-1 col-md-offset-1 control-label" for="id_username">Username:</label>
                                <div class="col-sm-9 col-xs-12 col-lg-6">
                                    <input class="form-control"  id="id_username" maxlength="30" name="username" type="text"  placeholder="Enter username" required />
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-lg-offset-1 col-md-offset-1  control-label" for="id_email">E-mail:</label>
                                <div class="col-sm-9 col-xs-12 col-md-6">
                                    <input class="form-control" id="id_email" name="email" type="email" placeholder="Enter email" required />
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-lg-offset-1 col-md-offset-1  control-label" for="id_password1">Password:</label>
                                <div class="col-sm-9 col-xs-12 col-md-6">
                                    <input class="form-control" id="id_password1" name="password1" type="password" placeholder="Enter password" required />
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-lg-offset-1 col-md-offset-1  control-label" for="id_password2">Password (again):</label>
                                <div class="col-sm-9 col-xs-12 col-md-6">
                                    <input class="form-control" id="id_password2" name="password2" type="password" placeholder="Enter password again" required />
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-9">
                                    <button type="submit" class="btn btn-default">Register</button>
                                </div>

                            </div>



                        </form>
                    </div>
                </div>
            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- BODY BLOCK -->
{% block body_block %}{% endblock %}

<!-- FOOTER -->
<div class="footer">
    <div class="container">
        <footer>
            <hr class="featurette-divider">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2015 Joker  </p>
        </footer>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>
