{% extends 'wildlife/base.html' %}

{% block navbar_block %}
    <div class="grey-cover"></div>
{% endblock %}

{% block body_block %}

    <div class="container content">
        <div class="row">


            <div class="profile-image col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <img class="img-responsive" src="{{ profile.picture.url }}" alt="Profile picture" />
            </div>

            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <h2>{{ profile.username }}</h2>
                <p>{{ profile.status }}</p>
            </div>

            <div class="col-lg-12 col-md-12">
                <h3>{{ profile.username }}' posts: </h3>
                <hr/>
                {% if posts %}
                    {% for post in posts %}
                        {{ post.description }}<br/>
                        <img src="{{ post.picture.url }}" alt="Post picture" /><hr/><br/>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
